@using RSS_Reader.Models.DataModels
@model Feed
@{
    ViewBag.Title = "Feed";
}

<h2 class="text-center">@Model.Title</h2>

<div class="h-100 d-flex flex-column">
    <div class="flex-grow-1 overflow-auto">
        @foreach (var item in Model.Entries ?? new List<Entry>())
        {
            <div class="card mt-2" style="width: 100%;">
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><small class="text-muted">Last updated @item.PubDate</small></p>
                    <button data-url="@Url.Action("article", "home", new { id = item.Id })" class="btn btn-primary article-link">Read More</button>
                </div>
            </div>
        }
    </div>
</div>